* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: rgb(140, 252, 242);
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, #01022d, rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image:
        linear-gradient(to right, #01022de5 30%, #000000c3),
        url(./download.webp);
    background-position: center;
    width: 88%;
    height: 640px;
    transition: all .4s ease;
}

.container:hover {
    background-image:
        linear-gradient(to right, #01022de5 28%, #00000044),
        url(./download.webp);
}

header {
    padding: 1rem .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

ul {
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}

header li a {
    border-bottom: 3px solid transparent;
    transition: all .3s ease;
}

header li a:hover {
    border-bottom: 3px solid rgb(140, 252, 242);
}

.header-content {
    color: rgb(140, 252, 242);
    width: 50%;
    position: relative;
    top: 55px;
    left: 55px;
}

.header-content h2 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.3rem;

}

.header-content p {
    letter-spacing: 1.4px;
    width: 60%;
    font-size: .9rem;
}

.header-content p span {
    font-size: larger;
}

.header-content button {
    background-color: rgb(0, 194, 194);
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 500;
    border: 1.5px solid transparent;
    position: relative;
    top: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: all .2s ease;
}

.header-content button:hover {
    transform: scale(1.03);
    color: rgb(0, 253, 253);
    background-color: transparent;
    border-color: rgb(0, 253, 253);
}

/* tablet */
@media (max-width:768px) {
    header .logo {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    ul {
        font-size: .9rem;
        font-weight: 600;
        list-style: none;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
    }

    .header-content {
        color: rgb(140, 252, 242);
        width: 50%;
        position: relative;
        top: 55px;
        left: 45px;
    }

    .header-content h2 {
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 1.2rem;

    }

    .header-content p {
        letter-spacing: 1.1px;
        width: 80%;
        font-size: .9rem;
    }
}

/* mobil */
@media (max-width: 576px) {
    header .logo {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    ul {
        font-size: .8rem;
        font-weight: 600;
        list-style: none;
        width: 70%;
        display: flex;
        margin: 0 4px;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
    }

    .header-content {
        color: rgb(140, 252, 242);
        width: 50%;
        position: relative;
        top: 55px;
        left: 30px;
    }

    .header-content h2 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 1.1rem;

    }

    .header-content p {
        letter-spacing: 1.1px;
        width: 100%;
        font-size: .8rem;
    }
}

@media(max-width:385px) {
    header {
        display: block;
        text-align: center;
        padding: 1rem 0;
        margin: auto;
    }

    ul {
        width: 95%;
        margin-top: 1rem;
        padding: 0 .4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
    }

    .header-content h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        padding-bottom: 1rem;

    }

    .header-content p {
        width: 165%;
        font-size: .8rem;
    }
}

/* 
padding: 1rem .6rem;
justify-content: space-between;
align-items: center; */